django
gunicorn
whitenoise
psycopg2-binary
requests
urllib3
Pillow
dotenv
django-ckeditor # kalau mau bikin editor yang lebih cakep bisa pake ini https://medium.com/@yashnarsamiyev2/how-to-add-ckeditor-in-django-aa6de5a09862
django-tailwind
django-browser-reload